{% extends 'layout.html' %} {% block content %}
<div class="container d-flex flex-column align-items-center justify-content-center">
  <form action="" method="post">
    {{form.hidden_tag()}}
    <fieldset class="form-group">
      <legend class="mb-4 p-4">Log In</legend>
      <div class="input-group imput-group-lg">
        {% if not form.email.errors %}
        {{form.email(placeholder="Email")}}
    {% else %}
        <div class="d-flex flex-column">
          <div>
              {% for error in form.email.errors %}
                  <span>{{error}}</span>
              {% endfor %}
          </div>
          {{form.email(placeholder="Email")}}
        </div>
    {% endif %}
      </div>
      <div class="input-group imput-group-lg w-100">
        {{form.password(placeholder="Password")}}
      </div>
      </div>
    </fieldset>
    <div class="form-group">
        {{form.submit(class="btn btn-outline-info mt-4")}}
    </div>
  </form>
</div>

<div class="pt-3">
    <small class="text-muted">
      Dont Have an Account?
      <a href="{{url_for('sign_up')}}" class="ml-2">Sign Up </a>
    </small>
</div>

{% endblock content%}

